.career_page_main_section {
    text-align: center;
    margin: 30px;
}
.text-dark {
    color: #343a40!important;
}

.position-relative {
    position: relative!important;
}
.journey2 {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}
.career_card {
    padding: 25px 18px;
    background: #fff !important;
    margin: 11px 0px;
    border-radius: 10px;
    border: 2px solid #312875;
}
.career_card h2 {
    font-size: 19px !important;
    min-height: 50px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.career_card ul {
    padding-right: 0px;
    padding-left: 20px;
    margin-bottom: 10px !important;
    min-height: 135px;
}
.career_card li {
    list-style: square;
    font-size: 15px;
}
.career_btn_group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.career_card a {
    color: #fff;
    text-decoration: none;
    background: #2e2e50;
    font-size: 15px;
    display: flex;
    width: fit-content;
    padding: 10px 14px;
    font-weight: 600;
}
.col-sm-12:hover{
    width: 50px;
    border-radius: 20px;
    filter: drop-shadow(#bab7b6 1rem 1rem 10px);
}
